@import '../../../../constant.scss';

.TitleFiltre{
    @extend %gradient;
    .FiltreTT{
        color:$white;
        font-size: 28px;
        padding: 30px;
        margin-left: 20px;
        font-weight: 500;
    }
}

@media (max-width: $PCCompu) {
    .TitleFiltre{
        .FiltreTT{
            font-size: 20px;
        }
    }
}