@import '../../../../constant.scss';

.NavBar{
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    a{
        display: flex;
        font-size: 16px;
        color: $white;
        font-weight: 500;
        padding: 15px 25px;
        max-width: 250px;
        border-radius: 25px;
        svg{
            margin-left: 10px;
            fill: $white;
        }
        &:hover{
            background: $white;
            @extend %transition;
            font-weight: 700;
            color: $blue;
            svg{
                fill: $blue;
            }
        }
    }
}

@media (max-width: $Movil) {
    .NavBar{
        grid-gap: 5px;
        a{
            font-size: 12px;
            padding: 10px 10px;
            svg{
                margin-left: 5px;
                fill: $white;
            }
            &:hover{
                background: none ;
                color: $white;
                svg{
                    fill: $white;
                }
            }
        }
    }
    
}