@import '../../../../constant.scss';

.FilterTime{
    display: flex;
    background: $white;
    margin-right: 50px;
    padding: 15px;
    border-radius: 25px;
    justify-content: space-around;
    a{
        font-size: 20px;
        font-weight:600;
        padding: 10px 30px;
        min-width: 30%;
        text-align: center;
        border-radius: 15px;
        &:hover{
            background: $greyC;
        }
    }
    .active{
        background: $greyC;
    }
}

@media (max-width: $PCCompu) {
    .FilterTime{
        padding: 10px;
        a{
            font-size: 16px;
            padding: 10px 10px;
        }
    }
}

@media (max-width: $Table) {
    .FilterTime{
        margin-right: 30px;
        a{
            font-size: 14px;
        }
    }
}
@media (max-width: $Movil) {
    .FilterTime{
        margin-right: 0px;
        margin:0px 10px;
        a{
            font-size: 14px;
        }
    }
}