@import '../../../constant.scss';

.err{
    display: grid;
    width: 100%;
    height: 85vh;
    color: $blue;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-gap: 30px;
    h1{
        opacity: 50%;
        font-size: 100px;
    }
    a{
        text-align: center;
        text-decoration: none;
        @extend %button;
    }
}