@import '../../../constant.scss';
.Account{
    background: $background;
    .ContainerLeaded{
        background: $background;
        padding: 80px 5% 20px;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 30% auto;
        grid-gap: 50px;
        align-items: start;
        grid-template-areas: 
            "Summary FilterTime"
            "Summary Filters";
        .FilterTime{grid-area: FilterTime;}
    }
}
.letCheckbox{
    width: 250px ;
    margin-top: -25px;
    padding: 20px 10px 10px 10px;
    background: $white;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 15px 15px ;
    @extend %transition;
    .letCheck{
        @extend %transition;
        padding: 5px 10px;
        font-weight: 600;
        input{
            margin-right: 10px;
        }
    }
}
@media (max-width: $PCCompu) {
    .letCheckbox{
        .letCheck{
            input{
                font-size: 16px;
            }
        }
    }
}
@media (max-width: $Table) {
    .Account{
        .ContainerLeaded{
            padding: 50px 5% 20px;
            grid-template-columns: 40% 60%;
            grid-gap: 20px;
        }
    }
}
@media (max-width: $Movil) {
    .Account{
        .ContainerLeaded{
            padding: 10px 5% 15px;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
                "Summary"
                "FilterTime"
                "Filters";
        }
    }
}