@import '../../../constant.scss';
.Account{
    background: $background;
    .ContainerLeaded{
        background: $background;
        padding: 80px 5% 20px;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 30% auto;
        grid-gap: 50px;
        align-items: start;
        grid-template-areas: 
            "Summary FilterTime"
            "Summary Filters";
        .FilterTime{grid-area: FilterTime;}
        .Filters{
            grid-area: Filters;
            display: grid;
            justify-items: end;
            margin-right: 60px;
            .button{
                @extend %button;
                padding: 15px;
                width: 250px ;
            }
        }
        
        
    }
}
.letCheckbox{
    width: 250px ;
    margin-top: -20px;
    padding: 20px 10px 10px 10px;
    background: $white;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 15px 15px ;
    @extend %transition;
    .letCheck{
        @extend %transition;
        padding: 5px 10px;
        font-weight: 600;
        input{
            margin-right: 10px;
        }
    }
}