@import '../../../../constant.scss';

.ContainerLeaded{
    background: $background;
    padding: 80px 5% 20px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 50px;
    align-items: center;
    grid-template-areas: 
        "Summary FilterTime"
        "Summary Filters";
    .FilterTime{grid-area: FilterTime;}
    .Filters{grid-area: Filters;}
}