@import '../../../../constant.scss';

.TitleTabla{
    display: grid;
    grid-template-columns: 15% 20% 25% 20% 20%;
    justify-items: center;
    padding: 25px 0;
    p{
        color: $greyO;
        font-weight: 600;
    }
}

@media (max-width: $PCCompu) {
    .TitleTabla{
        display: none;
    }
}