@import '../../../../constant.scss';

header{
    @extend %gradient;
    height: 110px;
    width: 100%;
    display: flex;
    color: $greyC;
    padding: 20px 5%;
    justify-content: space-between;
    align-items: center;
}